<h1>Hola Mundo {{nombre}}</h1>
<h2>{{sumar(3,5)}}</h2>
<h3 [style]="estilos">Ana no lo pilla</h3>

<button (click)="clikeame(-1)">PREV</button>
<button (click)="clikeame(1)">NEXT</button>
<hr>
<img [src]="arrayImagenes[posicion]" alt="">
<hr>
<input type="text">
<hr>
<select (change)="capturarCiudad($event)">
    <option value="Upgrade">Selecciona una ciudad</option>
    <option value="Madrid">Madrid</option>
    <option value="Barcelona">Barcelona</option>
    <option value="Valladolid">Valladolid</option>
    <option value="Coruña">Coruña</option>
    <option value="Zaragoza">Zaragoza</option>
</select>
<p>Vivo en: {{ciudad}}</p>
<hr>
<!-- <button (click)="cambiarColor(azul)">Azul</button>
<button (click)="cambiarColor(verde)">Verde</button>
<button (click)="cambiarColor(rojo)">Rojo</button> -->
<div [class]="'caja' + color"></div>
<input type="text" (input)="capturarCiudad($event)">
<p>{{texto}}</p>