.btn {
    background-color: beige;
    margin: 10px;
    border-radius: 50%;
    border-color: yellowgreen;
    padding: 10px;
    height: 40px;
    width: 100px;
    font-size: 15px;
}
.box{
    text-align: center;
    border: 1px solid black;
    height: 60px;
    background-color: rgb(0, 0, 180);
}
.box2{
    color: aquamarine;
    font-size: 20px;
}